@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-zinc-800;
}

.example-button {
  background-color: rgb(86, 1, 245);
  color: white;
  font-size: 1.8rem;
  border-radius: 0.4rem;
  border: none;
  padding: 0.4rem 1.8rem;
  cursor: pointer;
}

@layer base {
  :root {
    --color-text-base: 255, 255, 255;
    --color-text-muted: 199, 210, 254;
    --color-text-inverted: 79, 70, 229;
    --color-fill: 67, 56, 202;
    --color-button-accent: 255, 255, 255;
    --color-button-accent-hover: 238, 242, 255;
    --color-button-muted: 99, 102, 241;
  }

  .red {
    --color-text-base: 255, 255, 255;
    --color-text-muted: 254, 202, 202;
    --color-text-inverted: 220, 38, 38;
    --color-fill: 185, 28, 28;
    --color-button-accent: 255, 255, 255;
    --color-button-accent-hover: 254, 242, 242;
    --color-button-muted: 239, 68, 68;
  }

  .lime {
    --color-text-base: 17, 24, 2;
    --color-text-muted: 47, 67, 6;
    --color-text-inverted: 235, 250, 204;
    --color-fill: 179, 255, 23;
    --color-button-accent: 36, 52, 3;
    --color-button-accent-hover: 55, 79, 5;
    --color-button-muted: 212, 255, 122;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f0f0;
    border-radius: 8px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-green-500;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-green-400;
  }
}

@layer utilities {
  .card-wrapper {
    @apply relative bg-gradient-to-b from-slate-700 to-slate-800 rounded-2xl overflow-hidden;
  }

  .card-wrapper::before {
    background: conic-gradient(
      rgba(244, 114, 182, 0.4) 0deg,
      rgba(192, 132, 252, 0.4) 0deg,
      transparent 80deg
    );

    @apply h-[150%] w-[150%] content-[''] left-[-25%] top-[-25%]  animate-border-spin absolute;
  }

  .card-content {
    @apply absolute w-[calc(100%-2px)] h-[calc(100%-2px)] top-[1px] left-[1px]  bg-gradient-to-b from-slate-800 to-slate-900 rounded-2xl;
  }

  /* Grid layout */
  .square {
    aspect-ratio: 1 / 1;
  }
}
